@page "/"
<head>
    <style>
        body {
            background-color: whitesmoke;
        }
    </style>

    <center><h1 style="color: blueviolet">Personal Information</h1></center>

    </head>
<div class="container overflow-hidden">
    <div class="row gy-6">
        <div class="col-6">
            <div class="p-3 border bg-black" style="color: blueviolet;">Name: Alexandra Ann C. Dausan </div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-black" style="color: blueviolet;">Age: 21</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-black" style="color: blueviolet;">Address: Pob.5 Saranay North Cotabato</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-black" style="color: blueviolet;">Birthdate: September 26, 2002</div>
        </div>
         <div class="col-6">
            <div class="p-3 border bg-black" style="color: blueviolet;">Sex: No</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-black" style="color: blueviolet;">Alias: Alex</div>
        </div>
    </div>
</div>